.box {
  padding: 10px;
  justify-content: space-between;
}

.box__artists {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  border-radius: 12px;
}

.box__img {
  width: 160px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}

.box__text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 13px;
}

.box__img:hover,
.box__text:hover {
  transition: 1s;
  transform: scale(1.04);
  border-radius: 40px;
  color: rgba(255, 255, 255, 1);
}

.box__spotifyUrl {
  text-decoration: none;
  target-new: tab;
}
